<footer class="footer">
  <mat-toolbar>
    <h5><mat-icon color="warn">error</mat-icon> Attenzione</h5>
    <p>
      Questo sito è stato creato puramente a scopo dimostrativo. Nessun dato
      viene all'interno dello stesso viene condiviso con società terze e/o
      salvato per finalità di lucro.
    </p>
    <p>
      Per qualsiasi informazione, inviare una mail a
      <a href="mailto:luca.dimolfetta@marina.difesa.it"
        >luca.dimolfetta@marina.difesa.it</a
      >.
    </p>
  </mat-toolbar>
</footer>
