<footer class="footer">
  <mat-toolbar>
    <h5><mat-icon color="warn">error</mat-icon> Attenzione</h5>
    <p>
      Questo sito è stato creato a scopo dimostrativo puramente. I dati salvati
      non vengono condivisi con società terze e/o usati in alcuno modo per
      finalità di lucro.
    </p>
    <p class="text-center">
      Per qualsiasi informazione, inviare una mail a
      <a href="mailto:luca.dimolfetta@marina.difesa.it"
        >luca.dimolfetta@marina.difesa.it</a
      >.
    </p>
  </mat-toolbar>
</footer>
