footer {
  background-color: #cecece;
}

.mat-toolbar {
  margin: 0 auto;
  white-space: initial;
  height: auto;
  flex-direction: column;
  font-size: 65%;
  line-height: normal;
  align-items: stretch;
  max-width: 800px;

  text-align: center;
}

@media screen and (min-width: 599px) {
  .mat-toolbar {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 599px) {
  .mat-toolbar {
    h5 {
      text-align: center;
    }

    p {
      text-align: start;
    }
  }
}
