<div class="account">
  <h2 class="account__detail">
    Saldo del fondo di quadrato:
    {{ currentAccount?.saldo || 0 | currency : "EUR" }}
  </h2>
</div>
<div class="wrapper">
  <section class="actions">
    <mat-card class="actions__item">
      <a routerLink="officers" class="actions__link">
        <mat-icon>group</mat-icon>
        <span>Gestisci ufficiali</span>
      </a>
    </mat-card>
    <mat-card class="actions__item">
      <a routerLink="account" class="actions__link">
        <mat-icon>savings</mat-icon>
        <span>Gestisci fondo</span>
      </a>
    </mat-card>
    <mat-card class="actions__item">
      <a routerLink="payments" class="actions__link">
        <mat-icon>payments</mat-icon>
        <span>Gestisci quote</span>
      </a>
    </mat-card>
    <mat-card class="actions__item">
      <a routerLink="profile" class="actions__link">
        <mat-icon>settings</mat-icon>
        <span>Gestisci account</span>
      </a>
    </mat-card>
  </section>
  <section></section>
</div>
