.logo {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  transition: transform ease .25s;
  display: inline-block;

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
}

.header {
  &__user {
      button {
          min-width: auto;
          line-height: initial;
          padding: 0;
        }
  }
} 

@media screen and (max-width: 599px) {
  .header {
    min-height: 56px;
    height: auto;
    padding: 5px;
    width: 100%;
    text-align: center;


    &__user {
      text-align: center;
      display: flex;
      
      p {
        flex-grow: 1;
      }


    }
  }

}



@media  screen and (min-width: 599px) {
  mat-toolbar {
    position: relative;
  }

  .header {
    display: flex;
    justify-content: center;

    &__user {
     position: absolute;
    display: flex;
     right: 10px;

     button {
      margin-left: 10px;
     }
    }
  }
  
}