.header {
  text-transform: uppercase;
  letter-spacing: large;
  justify-content: center;
}


.logo {
  color: inherit;
  text-decoration: none;
  transition: transform ease .25s;
  display: inline-block;

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
}