<mat-toolbar color="primary" [class.mat-elevation-z8]="true" class="header">
  <header class="header">
    <a class="home" routerLink="dashboard">
      <mat-icon>home</mat-icon>
    </a>
    <a class="logo" routerLink="">Nave Martinengo - F596</a>
    <div class="header__user" *ngIf="(currentOfficer$ | async) as officer">
      <p>
        {{
        officer.grado +
        " " +
        officer.nome +
        " " +
        officer.cognome
        }}
      </p>
      <button mat-button type="button" title="Logout" (click)="onLogout()">
        <mat-icon title="Logout">logout</mat-icon>
      </button>
    </div>
  </header>
</mat-toolbar>