.background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -99;
  filter: opacity(0.75) blur(1px);
  max-width: 1600px;
}

.home {
  &__title {
    font-family: "Dancing Script", cursive;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: rgba(#ffff, 0.4);

  &__button-container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 40%;
  }
}

@media screen and (min-width: 599px) {
  .background {
    background: url("../../../assets/background-desktop.jpg");
    background-size: cover;
    background-position: center center;
  }

  .home {
    &__title {
      margin-top: 30px;
      color: var(--);
    }
  }

  .card {
    width: 500px;
  }

  .card__button {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 599px) {
  .background {
    background: url("../../../assets/background-mobile.jpg");
    background-size: cover;
    background-position: center center;
  }

  .card {
    width: 100%;
    padding: 1rem;
  }

  .card__button {
    width: 130px;
  }
}
