<h1 class="home__title mat-display-2 animate__animated animate__fadeInDown">
  Benvenuto nel quadrato ufficiali di Nave Martinengo.
</h1>
<div class="background"></div>
<mat-card
  class="login-card animate__animated animate__fadeIn animate__delay-2s animate__slow"
>
  <div style="display: flex; justify-content: space-between">
    <a
      class="login-card__button"
      routerLink="login"
      color="accent"
      mat-raised-button
      >Entra</a
    >
    <a
      class="login-card__button"
      routerLink="signup"
      color="accent"
      mat-raised-button
      >Registrati</a
    >
  </div>
  <mat-card-content>
    <p class="text-center">
      Sei un visitatore? Vai alla
      <a href="">pagina di presentazione del progetto</a>.
    </p>
  </mat-card-content>
</mat-card>
