<h1
  class="home__title mat-display-2 animate__animated animate__fadeInDown color-primary"
>
  Benvenuto nel quadrato ufficiali di Nave Martinengo.
</h1>
<div class="background"></div>
<mat-card
  class="card animate__animated animate__fadeIn animate__delay-1s animate__slow"
>
  <div class="card__button-container">
    <a class="card__button" routerLink="login" color="accent" mat-flat-button
      >Entra</a
    >
    <a
      class="card__button"
      routerLink="signup"
      color="primary"
      mat-raised-button
      >Registrati</a
    >
  </div>
  <!-- <mat-card-content>
    <p class="text-center">
      Sei un visitatore? Vai alla
      <a href="">pagina di presentazione del progetto</a>.
    </p>
  </mat-card-content> -->
</mat-card>
