<div class="background"></div>
<mat-card>
  <mat-card-title>Entra nel portale</mat-card-title>
  <form class="login" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-card-content>
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          name="email"
          appearance="outline"
          matInput
          type="email"
          placeholder="indirizzo email marina"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
          ngModel
          #email="ngModel"
        />
        <mat-error *ngIf="!email.value">Il campo email è vuoto</mat-error>
        <mat-error *ngIf="email.control.status === 'INVALID'"
          >L'email inserita non è valida</mat-error
        >
        <mat-hint>Inserire l'indirizzo email istituzionale</mat-hint>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          name="password"
          appearance="outline"
          matInput
          type="password"
          placeholder="Password"
          ngModel
          required
          #password
          minlength="8"
        />
        <mat-error *ngIf="!password.value">Il campo password è vuoto</mat-error>
      </mat-form-field>
      <button
        [disabled]="!loginForm.valid || (loading$ | async)"
        color="accent"
        class="login__button"
        mat-raised-button
      >
        <span *ngIf="!(loading$ | async)">Entra</span>
        <mat-spinner
          *ngIf="loading$ | async"
          diameter="24"
          color="warn"
        ></mat-spinner>
      </button>
      <p *ngIf="errorMsg" class="login__error">{{ errorMsg }}</p>
      <div class="login__info">
        <h3>
          Come funziona l'autenticazione sul portale
          <mat-icon color="warn">help</mat-icon>
        </h3>
      </div>
      <p class="login__description">
        Tutti gli ufficiali che sono stati inseriti come contribuenti da un
        direttore di quadrato possono registrarsi con il proprio indirizzo
        istituzionale dalla pagina di registrazione.
      </p>
    </mat-card-content>
  </form>
</mat-card>
