<div class="background"></div>
<mat-card>
  <mat-card-title class="color-primary">Registrati al portale</mat-card-title>
  <mat-card-content>
    <h3>
      Come funziona
      <mat-icon color="warn">help</mat-icon>
    </h3>
    <p class="signup__description">
      Per poterti registrare al portale
      <strong>
        un direttore di quadrato deve averti aggiunto tra gli ufficiali
        contribuenti.</strong
      >
      Inserisci il tuo indirizzo istituzionale nel campo email per verificare la
      possibilità di registrarti al portale.
    </p>
  </mat-card-content>
  <form
    class="signup"
    #signupForm="ngForm"
    aria-label="Registrati"
    (ngSubmit)="onSubmit(signupForm)"
  >
    <mat-card-content>
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          name="email"
          appearance="outline"
          matInput
          type="email"
          placeholder="Email istituzionale"
          ngModel
          required
          #email
        />
        <mat-error *ngIf="!email.value">Il campo email è vuoto</mat-error>
        <mat-hint>Inserire l'indirizzo email istituzionale</mat-hint>
      </mat-form-field>
      <button
        *ngIf="!canRegister"
        type="button"
        color="primary"
        class="signup__button"
        mat-raised-button
        (click)="verifyEmail(email)"
      >
        <span *ngIf="!(isLoading$ | async)">Verifica email</span>
        <mat-spinner
          *ngIf="isLoading$ | async"
          diameter="24"
          color="warn"
        ></mat-spinner>
      </button>
      <div *ngIf="canRegister">
        <!-- Password -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            name="password"
            appearance="outline"
            matInput
            type="password"
            placeholder="Password"
            ngModel
            required
            #password
            minlength="8"
          />
          <mat-error *ngIf="!password.value"
            >Il campo password è vuoto</mat-error
          >
        </mat-form-field>
        <!-- Confirm password -->
        <mat-form-field appearance="outline">
          <mat-label>Conferma Password</mat-label>
          <input
            name="confirm_password"
            appearance="outline"
            matInput
            type="password"
            placeholder="Conferma Password"
            ngModel
            required
            #confirm_password
            minlength="8"
          />
          <mat-error *ngIf="!confirm_password.value"
            >Il campo conferma password è vuoto</mat-error
          >
        </mat-form-field>
        <button
          type="button"
          color="warn"
          class="signup__button"
          mat-raised-button
          (click)="canRegister = false"
        >
          Reset
        </button>
        <button
          type="submit"
          color="primary"
          class="signup__button"
          mat-raised-button
          [disabled]="
            !signupForm.valid ||
            (isLoading$ | async) ||
            password.value !== confirm_password.value
          "
        >
          <span *ngIf="!(isLoading$ | async)">Registrati</span>
          <mat-spinner
            *ngIf="isLoading$ | async"
            diameter="24"
            color="primary"
          ></mat-spinner>
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
