<div class="background"></div>
<mat-card>
  <mat-card-title>Registrati al portale</mat-card-title>
  <div class="signup__info">
    <h3>
      Come funziona
      <mat-icon color="warn">help</mat-icon>
    </h3>
  </div>
  <p class="signup__description">
    Per poterti registrare al portale
    <strong>
      un direttore di quadrato deve averti aggiunto tra gli ufficiali
      contribuenti.</strong
    >
    Inserisci il tuo indirizzo istituzionale nel campo email per verificare la
    possibilità di registrarti al portale.
  </p>
  <form class="signup" #loginForm="ngForm" aria-label="Registrati">
    <mat-card-content>
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          name="email"
          appearance="outline"
          matInput
          type="email"
          placeholder="indirizzo email marina"
          ngModel
          required
          #email
        />
        <mat-error *ngIf="!email.value">Il campo email è vuoto</mat-error>
        <mat-hint>Inserire l'indirizzo email istituzionale</mat-hint>
      </mat-form-field>
      <button color="accent" class="signup__button" mat-raised-button>
        Verifica email
      </button>
      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          name="password"
          appearance="outline"
          matInput
          type="password"
          placeholder="Password"
          ngModel
          required
          #password
          minlength="8"
        />
        <mat-error *ngIf="!password.value">Il campo password è vuoto</mat-error>
      </mat-form-field>
    </mat-card-content>
  </form>
</mat-card>
