html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography p,
.mat-typography h3 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center !important;
}

.snackbar {
  &__error {
    background-color: var(--warn-color);
    color: white;
    font-weight: bold;
  }
}

.mat-header-row {
  background-color: var(--accent-color);
}

th.mat-header-cell {
  color: white;
  font-size: 1rem;
  padding: 10px !important;
}

td.mat-cell {
  padding: 10px !important;
}
